*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}

.logo h2{
    font-size: 45px;
    font-weight: 900;
}

.color-orange{
    color: rgba(253, 110, 10, 1);
}

.btn{
    background-color: rgba(253, 110, 10, 1);
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.section-heading{

    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color:  rgba(117, 117, 117, 1);
}

.text-center{
    text-align: center;
}

header{
    background-color: #FFF8f3;
    background: url("../images/developer.png") , url("../images/header_bg.png"),#FFF8f3;
    background-position: 23px 38px , bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;

}

nav{
    width: 71%;
    max-width: 1140px;
   /* border: 1px solid red;*/
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

            
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    
    align-items: center;
}

nav .menu a{
    font-size: 20px;
    color: rgba(71, 71, 71, 1);
    text-decoration: none;
}

#banner{
   /* border: 1px solid red;*/
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: rgba(71, 71, 71, 1);

}

#banner .banner-content  h1{


    font-size: 85px;
    font-weight: bold;
    color: var(--Dark 01, rgba(24, 24, 24, 1));
    margin-bottom: 20px;
    
}

#banner .banner-content p{
    font-size: 18px;
    color: rgba(117, 117, 117, 1);
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .banner-img img{
    max-width: 585px;
    vertical-align: middle;
}

#about ,#skills , #resume{

    
    padding-top: 130px;

}

#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255, 248, 243, 1);
    padding: 131px 157px;
}

#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}

.about-info .info-card p {

     font-size: 20px;
   
    line-height: 30px;
    color:  rgba(117, 117, 117, 1);
     
}

.about-info .info-card h4{

    font-size: 20px;
}


#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

#skills .skills-container .skill-box{
    display: flex;
    gap: 24px;
}

#skills .skills-container .skill-box .skill-card{
    padding: 30px;
   box-shadow: 0 6px 50px 0 #0000001e;
    max-width: 267px;
}

.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}

.skill-card p{
    font-size: 16px;
    color: rgba(117, 117, 117, 1);
    line-height: 28px;
   

}

.resume-container{
width: 71%;
max-width: 1140px;
margin: 113px  auto 0;
display:flex;
gap: 24px;

}

.resume-container hr{
    margin: 30px 0;
}

.resume-container .section-title{

    color: var(--Dark 02, rgba(71, 71, 71, 1));
   font-size: 30px;
   margin-bottom: 30px;
}

.resume-card{
    max-width: 551px;
    margin-right: 47px;
}

.resume-card .card-title{
    font-size: 25px;
    font-weight: bold; 
    margin-bottom: 10px;
   color: #474747;
}

.resume-card .card-info{
    font-size: 20px;
    font-weight: 600; 
    margin-bottom: 20px;
   color: #757575;
}

.resume-card .card-text{
    font-size: 16px;
    line-height: 28px; 
   
   color: #757575;
}

footer{
    margin-top: 130px;
    background-color: rgba(255, 248, 243, 1);
    padding: 130px 0;
}

.fotter-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap:116px;
}

.social{
    max-width: 562px;
}

.fotter-container h2{
    color: #181818;
    font-size: 35px;
    margin-bottom: 20px;
}

.fotter-container p{
    color:var(--Dark 02, rgba(71, 71, 71, 1)); 
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 30px;
    
}

.fotter-container .icons a{
    margin-right: 30px;
}

.fotter-container form input[type="text"],
.fotter-container form textarea{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}
